* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
}

.searcher {
    width: 661px;
    height: 763px;
    background-color: #C4C4C4;
}
.searcher-wrapper {
    margin: 0 80px;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.search-form__input {
    padding-left: 15px;
    width: 500px;
    height: 61px;
}
.search-form__list > li{
    display: flex;
    align-items: center;
    padding-left: 15px;
    list-style: none;
    width: 500px;
    height: 44px;
    border: 2px solid #000;
    background-color: #E3E3E3;
}
.search-form__list > li:hover {
    cursor: pointer;
    background: #65CDF9;
}
.result-form {
    padding-top: 45px;
}
.result-form__list > li {
    display: flex;
    align-items: center;
    padding-left: 15px;
    list-style: none;
    width: 503px;
    height: 101px;
    border: 1px solid #000;
    background: #E27BEB;
}